:root {
    --primary: #65020a;
    --secondary: #b6a9a9;
}


.bb-text-primary {
    color: var(--primary) !important;
}

.bb-text-secondary {
    color: var(--secondary) !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary {
    color: white !important;
    border: 1px solid black !important;
    color: var(--primary) !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    transform: scale(1.05) !important;
    cursor: pointer !important;
}

.btn-primary:active {}